{% extends "auctions/layout.html" %}

{% block body %}

    <br>
    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div class="jumbotron text-center">
        <h2 class="card-title h2">ACTIVE LISTINGS</h2>
        <p class="black-text my-4 font-weight-bold">These are the Auctions.</p>
        <div  class="h-100 d-flex justify-content-center align-items-center" style=" width: 90%">
            <div class="p-2">
                <form class="input-group" action="{% url 'searching' %}" method='post'>
                    {% csrf_token %}
                    <input type="text" class="form-control rounded" placeholder="Search here..." name="query" required>
                    <button class="btn btn-light btn-rounded   " data-mdb-ripple-color="#545454" style="background-color:#d4d4d4" type="submit">Search</button>
                </form>
            </div>
            <div>
                <a class="btn btn-light btn-rounded   " data-mdb-ripple-color="#545454" style="background-color:#d4d4d4" href="{% url 'filter_product' 'popularity' %}">Popularity</a>
                <a class="btn btn-light btn-rounded   " data-mdb-ripple-color="#545454" style="background-color:#d4d4d4" href="{% url 'filter_product' 'lowtohigh' %}">Low to High</a>
                <a class="btn btn-light btn-rounded   " data-mdb-ripple-color="#545454" style="background-color:#d4d4d4" href="{% url 'filter_product' 'hightolow' %}">High to Low</a>
                <a class="btn btn-light btn-rounded   " data-mdb-ripple-color="#545454" style="background-color:#d4d4d4" href="{% url 'filter_product' 'newest' %}">Newest First</a>
            </div>
            </div>
        <div class="container mt-5 mb-3">
            <div class="row">
                {% if empty %}
                    <br>
                    <img src="../../static/auctions/img/foractive.svg" alt="indeximage" style="height: 350px;" class="embed-responsive">
                    <br> <br> <br>
                    <h3>No Active Listings available</h3>
                {% else %}
                    {% for product in products%}
                        <br>
                        <div class="card card-cascade p-3" style="width: 22rem; margin-right:30px;margin-bottom:30px">
                            <div class="view view-cascade overlay" >
                                <img src="/media/{{product.image_file}}" class="card-img-top" alt="Card image cap" style="width: 320px;">
                            </div>
                            <div class="card-body card-body-cascade text-center">
                                <h4 class="card-title"><strong>{{product.title}}</strong></h4>
                                <h6 class="font-weight-bold indigo-text py-2">{{product.category}}</h6>
                                <p class="lead">Athlete : {{product.athlete_name}} <br> </p>
                                <p class="">{{product.description}} <br> </p>
                                <p class="font-weight-bold">&#8377;{{product.starting_bid}}<br> </p>
                                <a href="{% url 'viewauction' product.id %}" class="btn btn-primary">View</a>
                            </div>
                            <div class="card-footer text-muted text-center">
                                {{product.created_at}}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}